/**
 * Created by truncate on 2017/12/17.
 * Author: 带鞋拖地
 * QQ: 327056088
 *
 * 《晨》· By codeRabbit 2017.7.1 重庆龙头寺公园
 * 华灯未眠晨未曦,绿荷万丛湖中缀。
 * 闻莹林间自由在,遥望山尖闺梦人。
 */
body,html,.container{
  height: 100%;
  background: url(../../images/connect-bg.jpg) top center no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  .login {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 200px;
    border: 1px solid #E7E7E7;
    background: #FFFFFF;
    border-radius: 5px;

    .welcome {
      text-align: center;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #e9eaec;
    }

    .form-box {
      padding: 20px 20px 0;
    }
    .code-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 120px;
      height: 50px;
      cursor: pointer;
    }

  }
}

.container {
  .ivu-form-inline .ivu-form-item {
    display: block;
    margin-right: 0;
  }

}
.icon {
  width: 30px;
  padding: 0px;
}
