/**
 * Created by truncate on 2017/11/21.
 * Author: 带鞋拖地
 * QQ: 327056088
 *
 * 《晨》· By codeRabbit 2017.7.1 重庆龙头寺公园
 * 华灯未眠晨未曦,绿荷万丛湖中缀。
 * 闻莹林间自由在,遥望山尖闺梦人。
 */
.app-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .nav-header {
    height: 60px;
    background-color: #09C;
    color: #FFF;
  }
}
.container {
  //background-color: #293038;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}
.left-sidebar {
  width: 155px;
  height: 100%;
}
.right-sidebar {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
