/**
 * Created by truncate on 2017/11/21.
 * Author: 带鞋拖地
 * QQ: 327056088
 *
 * 《晨》· By codeRabbit 2017.7.1 重庆龙头寺公园
 * 华灯未眠晨未曦,绿荷万丛湖中缀。
 * 闻莹林间自由在,遥望山尖闺梦人。
 */
//全局变量
@import '../common/variable.less';

.app-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .flex-row-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.clear-fix::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .nav-header {
    height: 50px;
    background-color: @dark-blue-background;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-area {
      background-color: #0087b4;
      width: 300px;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .logo{
        padding-left: 10px;

        img {
          height: 45px;
        }
      }
    }
    .center-area {
      flex: 1;
      flex-direction: row;
      justify-content: flex-start;
    }
    .right-area {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      //通知
      .notice {
        width: 60px;
        color: @white;
        cursor: pointer;
        text-align: center;
        font-size: 24px;
        height: 100%;

        .bell {
          font-size: 18px;
          line-height: 50px;
          padding-right: 3px;
        }

        .bell-num {
          font-size: 12px;
          color: #fff;
          background: #f90;
          border-radius: 5px;
          padding: 2px 5px;
          vertical-align: top;
          text-align: center;
          line-height: 50px;
        }

        &:hover {
          background: #0087b4;
        }
      }

      //扩大屏幕
      .expand-screen {
        width: 40px;
        height: 100%;
        //display: inline-block;
        text-align: center;
        font-size: 24px;
        color: @white;
        cursor: pointer;

        &:hover {
          background: #0087b4;
        }
      }

      //退出
      .login-out {
        padding: 0 10px;
        color: @white;
        cursor: pointer;
        text-align: center;
        font-size: 24px;
        height: 100%;

        &:hover {
          background: #0087b4;
        }
      }

      //用户信息
      .user-info {
        padding: 0 10px;
        width: auto;
        color: @white;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        span {
          padding-right: 5px;
        }

        .avatar {
          margin-left: 10px;
          //border: 1px solid #ffffff;
          border-radius: 50%;
        }

        &:hover {
          background: #0087b4;
        }
      }
    }
  }
}

.container {
  //background-color: @dark-background;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}

.left-sidebar {
  width: 180px;
  height: 100%;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;

  .sidebar-fold {
    height: 40px;
    width: 100%;
    background: #394555;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: @white;
      font-size: 26px;
    }
  }

  .menu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display:none
    }
  }
}

.center-area {
  .home {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #008fbf;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      background: #0087b4;
    }
  }

  .quick-panel {
    width: 100px;
    height: 100%;
    border-right: 1px solid #008fbf;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
      cursor: pointer;
    }

    &:hover {
      background: #0087b4;
    }
  }
}

.mini-left-sidebar {
  width: 48px;
  overflow: visible;
}
.right-sidebar {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tags-con {
    height: auto;
    background: @white;
    border-bottom: solid 1px #e4eaec;
  }
  .common-area {
    padding: 10px;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #f1f4f5;

    /*滚动条样式*/
    //&::-webkit-scrollbar {
    //  -moz-appearance: none !important;
    //  width: 5px;
    //  height: 5px;
    //}
    //&::-webkit-scrollbar-thumb {
    //  border-radius: 10px;
    //  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    //  background: rgba(0,0,0,0.2);
    //}
    //&::-webkit-scrollbar-track {
    //  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    //  border-radius: 0;
    //  background: rgba(0,0,0,0.1);
    //}
  }
  .copyright-footer {
    height: 40px;
    width: 100%;
    border-top: 1px solid #E7E7E7;
    color: #ABA498;
    font-size: 12px;
    background: #fafafa;
    text-align: center;
    line-height: 40px;
  }
}


