/**
 * Created by truncate on 2017/11/20.
 * Author: 带鞋拖地
 * QQ: 327056088
 *
 * 《晨》· By codeRabbit 2017.7.1 重庆龙头寺公园
 * 华灯未眠晨未曦,绿荷万丛湖中缀。
 * 闻莹林间自由在,遥望山尖闺梦人。
 * 定制样式
 */
@import '~iview/src/styles/index.less';
//全局变量
@import './variable.less';
#app {
  .clear-fix::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
  }
}
