/**
 * Created by truncate on 2017/11/28.
 * Author: 带鞋拖地
 * QQ: 327056088
 *
 * 《晨》· By codeRabbit 2017.7.1 重庆龙头寺公园
 * 华灯未眠晨未曦,绿荷万丛湖中缀。
 * 闻莹林间自由在,遥望山尖闺梦人。
 */
@import "iconfont.css";
@import "animate.min.css";
@import '../theme/dark.less';

//商铺详情
.shop-form .ivu-form-item label.ivu-form-item-label {
  font-weight: 600;
}

//登录
.login-form {
  .ivu-input {
    padding: 22px 7px!important;
    font-size: 14px;
    border-radius: 2px;
  }

  .ivu-input-group-prepend, .ivu-input-group-append {
    padding: 4px 15px!important;
    border-radius: 2px!important;
  }
}

